@import '../variables';
@import '../mixins';
.banner{
    background:linear-gradient(to right , rgba($clr-black,.3),rgba($clr-black,.3)) ,url(../images/home-banner.png) no-repeat center/cover;
    min-height: 849px;
    @include mq(lg) {
        min-height: 80vh;
    }

    
}
