@import '../variables';
@import '../mixins';
.contact{
    &__card {
        p {
            font-size: 15px;
        }
        &-img {
            max-width: 179px;
            max-height: 170px;
            object-fit: cover;
        }
    }
}