@import '../variables';
@import '../mixins';

.footer{
    background: $clr-dark;
        &__header {
            background:linear-gradient(4deg, rgba($color:$clr-dark, $alpha: .45),rgba($color:$clr-dark, $alpha: .45)), url(../images/footer-bg.png) no-repeat center/cover;
            min-height: 429px;
        }
        &__content-wrapper {
            padding-block:80px;
            @include mq(md) {
                padding-block:80px 20px;
            }
               
        }
        h5 {
            color: $clr-light;
            margin-bottom: 30px;
            font-size: 17px;
            line-height: 26px;
            font-weight: 500;
        }
        .list {
            padding-left: 0;
            &__link {
                color: $clr-light;
                line-height: 35px;
            }
        }

        .copyright-section {
            padding-top: 90px;
            @include mq(lg) {
                padding-top: 0px;
            }
        }

        .btn-top {
            width: 42px;
            height: 42px;
            border-radius: 50%;
            padding: 0;
            background: $clr-accent;
            min-width: auto;
            &:hover,
            &:focus {
                background: $clr-accent;
            }
            img {
                transform: rotate(90deg);
            }
        }
        .mobile--full {
            @include mq(lg) {
                flex: 1 0 100%;
                margin-bottom: 50px;
            }
        }
        .mobile--half {
            @include mq(lg) {
                flex: 1 0 50%;
                margin-bottom: 50px;
            }
        }
}