.btn {
    font-size: 17px;
    line-height: 27px;
    color: $clr-light !important;
    padding: 12px 39px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    border-radius: 2px;
    min-width:149px;
    @include mq(sm) {
        font-size: 15px;
        line-height: 20px;
    }
}

.btn__accent {
    background: $clr-accent-dark !important;
    border: 1px solid $clr-accent !important;
    &:hover,
    &:focus {
        color: $clr-light !important;
        background: $clr-btn-hover !important;
    }

}


    @include mq(sm) {
      .btn__accent {
        width: 100%;
      }
    }  
