a {
    text-decoration: none;
    color: inherit;
}

.min-h-inherit {
    min-height: inherit;
}
.h-vh-100 {
    min-height: 100vh;
}
.min-w-sm {
    min-width: 300px;
}
.line-h-sm {
    line-height: 26px;
}

.object-cover {
    object-fit: cover;
}

.mb-30 {
    margin-bottom: 30px;
    @include mq(lg) {
        margin-bottom: 15px;
    }
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}

.mb-70 {
    margin-bottom: 70px;
    @include mq(lg) {
        margin-bottom: 30px;
    }
}
.mb-90 {
    margin-bottom: 90px;
    @include mq(lg) {
        margin-bottom: 40px;
    }
}

.gap-54 {
    gap: 50px;
}

.link {
    text-transform: uppercase;
    color: $clr-light;
    &:hover {
        color: $clr-light !important; 
        text-decoration: underline;
    }
}

.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light;
}

.text__dark-light {
    color: $clr-dark-300;
}
.text__dark {
    color: $clr-dark;
}

.bg__accent {
    background: $clr-accent;
}

.bg__light {
    background: $clr-light;
}
.bg__dark {
    background: $clr-dark;
}
.bg__white {
    background: $clr-white;
}

.link--primary {
    color: $clr-accent !important;
    &:hover{
        color: $clr-accent !important;
    }
}




.fw-medium {
    font-weight: 500;
}

br {
    @include mq(xxxl) {
        display: none;
    }
}



.block-padding{
    padding-block: 160px 120px;
    @include mq(lg) {
        padding-block: 120px;
     }
}
.block-padding-lg{
    padding-block: 160px 160px;
}
.block-padding-xl{
    padding-block: 200px;
    @include mq(lg) {
        padding-block: 100px;
    }
}

.block-margin {
    margin-block: 160px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.block-margin-xl {
    margin-block: 200px;
    @include mq(lg) {
        margin-block: 100px;
    }
}

.caleder-icon { 
    width: 16px; 
    height: 15px; 
  }
  .arrow-icon {
    width: 10px;
    height: 10px; 
  }

  .grid-col-2 {
    grid-template-columns:  repeat(2,1fr);
    gap: 20px;

    &--left {
        grid-template-columns: 215px repeat(2,1fr); 
        .left {
            grid-column: 2;
        }
        .right {
            grid-column: 3;
        }
    }
   
  }

//   social sidebar


.social-sidebar {
    height: auto;
    width: 0px;
    position: fixed;
    top: 35vh;
    padding: 10px;
    right: 0;
    z-index: 2;

    p svg {
        left: 0px;
        position: relative;
        vertical-align: middle;
        font-size: 24px;
      }
     
      p {
        margin-bottom: 0;
        color: $clr-light;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 18px;
        font-size: 17px;
        line-height: 27px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .social {
        margin-left: -44px;
        width: 200px;
        padding: 0;
        display: inline-table;
        height: 0px;
        background-color: rgba(128, 128, 128, 0.73);
        transition: margin-left .2s linear, background-color .3s linear;
        cursor: pointer;
        background-color: $clr-accent-dark;
        margin-bottom: 24px;
      }
      
      .social:hover {
        margin-left: -180px;
        width: 200px;
        background-color: $clr-btn-hover;
      }
    
            
    }

  
 


//   conference
.conference {
    top: -260px;
    position: relative;
    .custom-card {
        padding: 38px 40px;
        background: $clr-accent-dark;
        min-width: 360px;
    }
    .card {
        &__content {
            max-width: 216px;
        }
        &-link {
            color: $clr-light;
            display: inline-flex;
            align-items: center;
            gap: 8px;
        }
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 160px;
        background: linear-gradient( to top,#fff 0%,  rgba(255, 255, 255, .8) 20% , rgba(255, 255, 255, 0) 100%);
        position: relative;
        bottom: -80px;
        z-index: -1;
    }
}

//interested
.interested {
    margin-top: -100px;
    min-height: 891px;
    background:linear-gradient(to right , rgba($clr-black,.65),rgba($clr-black,.65)), url(../images/interested-bg-img.png) no-repeat center/cover;
    &__content {
        max-width: 777px;
        margin: 0 auto;
    }
    &-cards-wrapper  {
        max-width: 1110px;
        margin: 0 auto;
    }

}
.img-container {
    position: relative;
    display: inline-block;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color: $clr-black, $alpha: .6);
        display: block;
        width: 100%;
        height: 100%;
    }
}
.card-img-wrapper {
    position: relative;
    display: inline-block;
    color: $clr-white;
}
.img-card-content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

// sponsor
.sponsor {
    &__content {
        max-width: 724px;
    }
}
.img-gradeint--white {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
    &-right::before {
        background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
}
// our-sponsor
.our-sponsor {
    padding: 80px 0;
    background:linear-gradient(45deg,rgba($clr-black,.6),rgba($clr-black,.6)), url(../images/our-sponsors/our-sponsor-bg.png) no-repeat center/cover;
}


// event {
.event {
    &__content {
        max-width: 721px;
    }
    .swiper-btns {
        max-width: 200px;
        position: relative;
        top: 10px;
        padding-block:  50px;
        .swiper-pagination {
            bottom: 50%;
            transform: translateY(50%);
            z-index: -1;
        }
        .swiper-pagination-bullet {
            background: $clr-dark;
        }
    }
}

.newsletter {
    background:linear-gradient(4deg, rgba($color:$clr-black, $alpha: .45),rgba($color:$clr-black, $alpha: .45)),url(../images/newsletter-bg.png) no-repeat center/cover;
    min-height: 404px;

    .form-control {
        border: 0;
        border-bottom:1px solid $clr-light;
        color: rgba($color: #000000, $alpha: 1.0);
        background: transparent;
        border-radius: 0;
        padding-left: 0;
        color: $clr-light;
        font-size: 15px;
        line-height: 26px;
        &::placeholder {
            color: $clr-light;
            font-size: 15px;
            line-height: 26px;
        }
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    .btn__form {
        position: absolute;
        top: 0;
        right: 0;
    }
}



















// swiper {
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: $clr-accent-dark;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        opacity: 1 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        cursor: pointer !important;
        &:hover  {
            background: $clr-btn-hover;
        }
    }

    .swiper-button-next img {
        transform:  rotate(180deg);
    }
