a {
    text-decoration: none;
    color: inherit;
}
p {
    margin-bottom: 10px;
}

.min-h-inherit {
    min-height: inherit;
}
.h-vh-100 {
    min-height: 100vh;
}
.min-w-sm {
    min-width: 300px;
}
.min-h-sm {
    min-height: 300px;
}

.min-h-150 {
    min-height: 150px;
}
.line-h-sm {
    line-height: 26px;
}
.line-h-md {
    line-height: 35px;
}

.object-cover {
    object-fit: cover;
}
.mb-10 {
    margin-bottom: 10px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
.mb-40 {
    margin-bottom: 40px;
}

.mb-70 {
    margin-bottom: 70px;
    @include mq(lg) {
        margin-bottom: 30px;
    }
}
.mb-90 {
    margin-bottom: 90px;
    @include mq(lg) {
        margin-bottom: 40px;
    }
}

.gap-54 {
    gap: 50px;
}

.link {
    text-transform: uppercase;
    color: $clr-light;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        top: 90%;
        display: block;
        height: 1px;
        width: 100%;
        background: $clr-white;
        opacity: 0;
        transition: opacity .3s ease-in-out;
    }
    &:hover {
        color: $clr-light !important; 
    }
    &:hover::after {
        opacity: 1;
    }
    &-dark {
        &::after {
            background: $clr-black;
        }
    }
}

.link-hover {
    color: $clr-dark;
    display: inline-block;
    &::after {
        content: '';
        display: block;
        width: 4px;
        height: 6px;
        background:$clr-accent;
        margin: 0 auto;
        border: 0;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        @include mq(xl) {
        display: none;
        }
    }
    &:hover::after{
      opacity: 1;
    }
    &:hover{
        color: $clr-dark !important;
    }
}

.text__accent {
    color: $clr-accent !important;
}
.text__light {
    color: $clr-light;
}

.text__dark-light {
    color: $clr-dark-300;
}
.text__dark {
    color: $clr-dark;
}

.text__xsm {
    font-size: 14px;
}
.bg__accent {
    background: $clr-accent;
}

.bg__light {
    background: $clr-light;
}
.bg__light-100 {
    background: $clr-light-bg;
}
.bg__dark {
    background: $clr-dark;
}
.bg__white {
    background: $clr-white;
}

.link--primary {
    color: $clr-accent !important;
    &:hover{
        color: $clr-accent !important;
    }
}

.list {
    &--box {
        .list__item {
            position: relative;
            display: flex;
            align-items: flex-start;
            &::before {
                content: '';
                width: 7px;
                height: 5px;
                flex:0 0 7px;
                background: $clr-accent;
                display:block;
                margin-right: 14px;
                position: relative;
                top: 10px;
            }
        }
    }
}




.fw-medium {
    font-weight: 500;
}

br {
    @include mq(xxxl) {
        display: none;
    }
}

.block-padding-90 {
    padding-block:90px;
}
.block-padding-60 {
    padding-block:60px;
}

.block-padding{
    padding-block: 160px 120px;
    @include mq(lg) {
        padding-block: 120px;
     }
}
.block-padding-lg{
    padding-block: 160px 160px;
}
.block-padding-xl{
    padding-block: 200px;
    @include mq(lg) {
        padding-block: 100px;
    }
}

.block-margin {
    margin-block: 160px;
    @include mq(lg) {
        margin-block: 100px;
    }
}
.block-margin-xl {
    margin-block: 200px;
    @include mq(lg) {
        margin-block: 100px;
    }
}

.ps-180 {
    padding-left: 180px;
    @include mq(lg) {
        padding-left: 0px;
    }
}
.section__content {
    max-width: 780px;
    margin: 0 auto;
}
.section__content-xl {
    max-width: 1130px;
    margin: 0 auto;
}

.w-250 {
    width: 250px;
}

.icon-file {
    width: 15px;
    height: 18px;
}

.caleder-icon { 
    width: 16px; 
    height: 15px; 
  }
  .arrow-icon {
    width: 10px;
    height: 10px; 
  }

  .grid-col-2 {
    grid-template-columns:  repeat(2,1fr);
    gap: 20px;
    @include mq(lg) {
        grid-template-columns:  1fr;
        gap: 50px;
        padding: 12px;
    }
    &--left {
        grid-template-columns: 215px repeat(2,1fr); 
        @include mq(xxxl) {
            grid-template-columns: 5% repeat(2,1fr); 
        }
        @include mq(lg) {
            grid-template-columns:1fr;
            gap: 50px;
            padding: 12px;
        }
        .left {
            grid-column: 2;
            @include mq(lg) {
                grid-column: initial;
            }
        }
        .right {
            grid-column: 3;
            @include mq(lg) {
                grid-column: initial;
            }
        }
    }
   
  }

//   social sidebar


.social-sidebar {
    height: auto;
    width: 0px;
    position: fixed;
    top: 35vh;
    padding: 10px;
    right: 0;
    z-index: 2;

    p svg {
        left: 0px;
        position: relative;
        vertical-align: middle;
        font-size: 24px;
      }
     
      p {
        margin-bottom: 0;
        color: $clr-light;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 15px 18px;
        font-size: 17px;
        line-height: 27px;
        font-weight: 500;
        text-transform: uppercase;
      }
      .social {
        margin-left: -44px;
        width: 200px;
        padding: 0;
        display: inline-table;
        height: 0px;
        background-color: rgba(128, 128, 128, 0.73);
        transition: margin-left .2s linear, background-color .3s linear;
        cursor: pointer;
        background-color: $clr-accent-dark;
        margin-bottom: 24px;
      }
      
      .social:hover {
        margin-left: -180px;
        width: 200px;
        background-color: $clr-btn-hover;
      }
    
            
    }
    
    // form
    .form {
        .form-control {
            border: 0;
            border-bottom:1px solid $clr-light;
            color: rgba($color: #000000, $alpha: 1.0);
            background: transparent;
            border-radius: 0;
            padding-inline: 0;
            color: $clr-light;
            font-size: 15px;
            line-height: 26px;
            &::placeholder {
                color: $clr-light;
                font-size: 15px;
                line-height: 26px;
            }
            &:focus {
                outline: none;
                box-shadow: none;
            }
        }
        .btn__form {
            position: absolute;
            top: 0;
            right: 0;
            min-width: auto;
            font-size: 15px;
        }
    }

  
 


//   conference
.conference {
    top: -260px;
    position: relative;
    &__bg {
        background: url(../images/escar-europe/conference__bg.png) no-repeat center/cover;
        min-height: 404px;
        &--callpaper {
            background: url(../images/callpaper__bg.png) no-repeat center/cover; 
        }
    }
    .custom-card {
        padding: 38px 40px;
        background: $clr-accent-dark;
        min-width: 360px;
    }
    .card {
        &__content {
            max-width: 216px;
        }
    }
    &::before {
        content: '';
        display: block;
        width: 100%;
        height: 160px;
        background: linear-gradient( to top,#fff 0%,  rgba(255, 255, 255, .8) 20% , rgba(255, 255, 255, 0) 100%);
        position: relative;
        bottom: -80px;
        z-index: -1;
    }
}

.conference-history__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(343px,1fr));
    gap: 50px;
    @include mq(xl) {
        grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
        gap: 30px;
    }
    @include mq(767px) {
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr));
        gap: 30px;
    }
}

//interested
.interested {
    margin-top: -100px;
    min-height: 891px;
    background:linear-gradient(to right , rgba($clr-black,.65),rgba($clr-black,.65)), url(../images/interested-bg-img.png) no-repeat center/cover;
    &-cards-wrapper  {
        max-width: 1110px;
        margin: 0 auto;
    }

}
.img-container {
    position: relative;
    display: inline-block;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba($color: $clr-black, $alpha: .6);
        display: block;
        width: 100%;
        height: 100%;
    }
}
.card-img-wrapper {
    position: relative;
    display: inline-block;
    color: $clr-white;
    h4 {
        min-height: 104px;
    }
}
.img-card-content {
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
}

// sponsor
.sponsor {
    &__content {
        max-width: 724px;
    }
}
.img-gradeint--white {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
    &-right::before {
        background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
    }
}
// our-sponsor
.our-sponsor {
    padding: 80px 0;
    background:linear-gradient(45deg,rgba($clr-black,.6),rgba($clr-black,.6)), url(../images/our-sponsors/our-sponsor-bg.png) no-repeat center/cover;

    &-grid {
        grid-template-columns: repeat(auto-fill,minmax(205px,1fr));
        column-gap: 27px;
        row-gap: 26px;
        @include mq(sm) {
           justify-items: center;
           grid-template-columns: repeat(auto-fill,minmax(150px,1fr));
        }
    }
}


// event {
.event {
    &__content {
        max-width: 721px;
        p {
            font-size: 15px;
        }
    }
    .swiper-btns {
        max-width: 200px;
        position: relative;
        padding-block:  50px;
        .swiper-pagination {
            bottom: 50%;
            transform: translateY(50%);
            z-index: -1;
        }
        .swiper-pagination-bullet {
            background: $clr-dark;
        }
    }
}

.newsletter {
    background:linear-gradient(4deg, rgba($color:$clr-dark, $alpha: .45),rgba($color:$clr-dark, $alpha: .45)),url(../images/newsletter-bg.png) no-repeat center/cover;
    min-height: 404px;

   
}

// registration
.registration {
    .price {
        color: $clr-dark-300;
        text-decoration: line-through;
    }
    .discount-price {
        font-weight: 600;
        font-size: 23px;
    }
    .vat {
        font-size: 13px;
    }
    &-counter {
        button,input {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            background: transparent;
            border-radius: 2px;
            border: 1px solid $clr-dark-300;
            padding: 8px 12px;
            height: 54px;
            @include mq(lg) {
                 height: 50px;
            }
        }
        input {
            border-inline:0;
            border-radius: 0;
            align-self: flex-start;
            text-align: center;
            height: auto;
            @include mq(lg) {
                max-width: 80px;
                
            }
            @include mq(sm) {
                align-self: stretch;
            }
            &:focus {
                outline: none;
            }
        }
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
     }
        input[type=number] {
            appearance: textfield;
          }   
        }
    .btn-counter {
        min-width: 304px;
        @include mq(sm) {
            width: 100%;
        }
    }

}

// gallery
.gallery {
    &-btn-container {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        @include mq(md) {
            div  {
                text-align: center;
            }
        }
        .btn__accent {
            min-width: 404px;
            margin: 0 42px 30px 0;
            @include mq(md) {
                min-width: initial;
                margin: 0 0px 30px 0;
                white-space: nowrap;
            }
        }
    }
}

// history 
.history {
    .timeline {
        position: relative;
        width: 100%;
        padding: 30px 0;
        .timeline-container {
           position: relative;
           width: 100%;
         }
    
        .timeline-continue {
           position: relative;
           width: 100%;
           padding: 100px 0 60px;
         }
         .timeline-continue::after {
                 position: absolute;
                 content: "";
                 width: 1px;
                 height: 100%;
                 top: 0;
                 left: 50%;
                 margin-left: -1px;
                 background: #707070;
                 @include mq(767px) {
                    left: -6px;
                }
               }
             
            .timeline__heading::after {
                 content: "";
                 display: block;
                 position: absolute;
                 width: 9px;
                 height: 9px;
                 top: 8px;
                 background: $clr-accent;
                 border-radius: 15px;
                 z-index: 1;   
               }
               
               .row.timeline-left .timeline__heading::after {
                right:-21px;
                @include mq(767px) {
                    right: initial;
                    left: -16px;
                }
              }
              
             .row.timeline-right .timeline__heading::after {
                left: -22px;
                @include mq(767px) {
                    left: -16px;
                }
              }
              
               .timeline-box {
                position: relative;
                padding-inline:5px ;
              }
            
               .timeline-box .timeline-text {
                position: relative;
              }
              @include mq(767px) {
                .timeline .timeline-continue::after {
                  left: 40px;
                }
              
                .timeline .row.timeline-left,
                .timeline .row.timeline-right{
                  text-align: left;
                }
              
               
                .timeline .timeline-box {
                  margin-left: 55px;
                }
              
        
                .timeline .row.timeline-left .timeline-box::after {
                  left: -20px;
                  border-color: transparent #ffffff transparent transparent;
                }
              
                .timeline .row.timeline-left .timeline-box::before {
                  left: -22px;
                  border-color: transparent #dddddd transparent transparent;
                }
              
              }
      }

}


// program
.program {
    &-btns-container {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        .btn__accent {
            min-width: 247px;
        }
    }
}

















// swiper {
    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: none;
    }

    .swiper-button-prev,
    .swiper-button-next {
        background: $clr-accent-dark;
        border-radius: 50%;
        width: 42px;
        height: 42px;
        opacity: 1 !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transition: all .3s ease-in-out;
        cursor: pointer !important;
        &:hover  {
            background: $clr-btn-hover;
        }
    }

    .swiper-button-next img {
        transform:  rotate(180deg);
    }
