@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './variables';
@import './mixins';



html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 26px;
    color: $clr-dark;
    @include mq(lg){
      font-size: 16px;
      line-height: 26px;
    }
}


h1{
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    text-transform: uppercase;
    color: $clr-light;
    margin-bottom: 24px;
    @include mq(sm){
        font-size: 32px;
        line-height:45px;
        margin-block:30px 70px;
    }
}
h2{
    font-size: 45px;
    line-height: 55px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 26px;
    @include mq(sm){
        font-size: 30px;
        line-height: 35px;
        margin-bottom: 50px !important;
    }
}

h3{
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    @include mq(sm){
        font-size: 20px;
        line-height: 24px;
    }
}

h4{
    font-size: 13px;
    line-height: 40px;
    @include mq(lg){
        line-height: 24px;
        margin-bottom: 30px;
    }
}
