@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
  color: #161615;
}
@media screen and (max-width: 992px) {
  body {
    font-size: 16px;
    line-height: 26px;
  }
}

h1 {
  font-size: 60px;
  line-height: 75px;
  font-weight: 600;
  text-transform: uppercase;
  color: #F3F3F3;
  margin-bottom: 24px;
}
@media screen and (max-width: 576px) {
  h1 {
    font-size: 35px;
    line-height: 45px;
  }
}

h2 {
  font-size: 45px;
  line-height: 55px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 26px;
}
@media screen and (max-width: 576px) {
  h2 {
    font-size: 30px;
    line-height: 35px;
  }
}

h3 {
  font-size: 25px;
  line-height: 30px;
  font-weight: 600;
}
@media screen and (max-width: 576px) {
  h3 {
    font-size: 20px;
    line-height: 30px;
  }
}

h4 {
  font-size: 13px;
  line-height: 40px;
}
@media screen and (max-width: 992px) {
  h4 {
    line-height: 24px;
  }
}

.btn {
  font-size: 17px;
  line-height: 27px;
  color: #F3F3F3;
  padding: 12px 39px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 500;
  border-radius: 2px;
  min-width: 149px;
}
@media screen and (max-width: 576px) {
  .btn {
    font-size: 15px;
    line-height: 20px;
  }
}

.btn__accent {
  background: #0056A4 !important;
  border: 1px solid #0066B2 !important;
}
.btn__accent:hover, .btn__accent:focus {
  color: #F3F3F3 !important;
  background: #0566BE !important;
}

a {
  text-decoration: none;
  color: inherit;
}

.min-h-inherit {
  min-height: inherit;
}

.h-vh-100 {
  min-height: 100vh;
}

.min-w-sm {
  min-width: 300px;
}

.line-h-sm {
  line-height: 26px;
}

.line-h-md {
  line-height: 35px;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-70 {
  margin-bottom: 70px;
}
@media screen and (max-width: 992px) {
  .mb-70 {
    margin-bottom: 30px;
  }
}

.mb-90 {
  margin-bottom: 90px;
}
@media screen and (max-width: 992px) {
  .mb-90 {
    margin-bottom: 40px;
  }
}

.gap-54 {
  gap: 50px;
}

.link {
  text-transform: uppercase;
  color: #F3F3F3;
  position: relative;
}
.link::after {
  content: "";
  position: absolute;
  top: 90%;
  display: block;
  height: 1px;
  width: 100%;
  background: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.link:hover {
  color: #F3F3F3 !important;
}
.link:hover::after {
  opacity: 1;
}

.text__accent {
  color: #0066B2 !important;
}

.text__light {
  color: #F3F3F3;
}

.text__dark-light {
  color: #C2C2C2;
}

.text__dark {
  color: #161615;
}

.bg__accent {
  background: #0066B2;
}

.bg__light {
  background: #F3F3F3;
}

.bg__light-100 {
  background: #f5f5f5;
}

.bg__dark {
  background: #161615;
}

.bg__white {
  background: #fff;
}

.link--primary {
  color: #0066B2 !important;
}
.link--primary:hover {
  color: #0066B2 !important;
}

.list--box .list__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.list--box .list__item::before {
  content: "";
  width: 7px;
  height: 5px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 7px;
          flex: 0 0 7px;
  background: #0066B2;
  display: block;
  margin-right: 14px;
  position: relative;
  top: 10px;
}

.fw-medium {
  font-weight: 500;
}

@media screen and (max-width: 1800px) {
  br {
    display: none;
  }
}

.block-padding-90 {
  padding-block: 90px;
}

.block-padding-60 {
  padding-block: 60px;
}

.block-padding {
  padding-block: 160px 120px;
}
@media screen and (max-width: 992px) {
  .block-padding {
    padding-block: 120px;
  }
}

.block-padding-lg {
  padding-block: 160px 160px;
}

.block-padding-xl {
  padding-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-padding-xl {
    padding-block: 100px;
  }
}

.block-margin {
  margin-block: 160px;
}
@media screen and (max-width: 992px) {
  .block-margin {
    margin-block: 100px;
  }
}

.block-margin-xl {
  margin-block: 200px;
}
@media screen and (max-width: 992px) {
  .block-margin-xl {
    margin-block: 100px;
  }
}

.ps-180 {
  padding-left: 180px;
}
@media screen and (max-width: 992px) {
  .ps-180 {
    padding-left: 0px;
  }
}

.section__content {
  max-width: 780px;
  margin: 0 auto;
}

.section__content-xl {
  max-width: 1120px;
  margin: 0 auto;
}

.w-250 {
  width: 250px;
}

.icon-file {
  width: 15px;
  height: 18px;
}

.caleder-icon {
  width: 16px;
  height: 15px;
}

.arrow-icon {
  width: 10px;
  height: 10px;
}

.grid-col-2 {
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media screen and (max-width: 992px) {
  .grid-col-2 {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 12px;
  }
}
.grid-col-2--left {
  grid-template-columns: 215px repeat(2, 1fr);
}
@media screen and (max-width: 1800px) {
  .grid-col-2--left {
    grid-template-columns: 5% repeat(2, 1fr);
  }
}
@media screen and (max-width: 992px) {
  .grid-col-2--left {
    grid-template-columns: 1fr;
    gap: 50px;
    padding: 12px;
  }
}
.grid-col-2--left .left {
  grid-column: 2;
}
@media screen and (max-width: 992px) {
  .grid-col-2--left .left {
    grid-column: initial;
  }
}
.grid-col-2--left .right {
  grid-column: 3;
}
@media screen and (max-width: 992px) {
  .grid-col-2--left .right {
    grid-column: initial;
  }
}

.social-sidebar {
  height: auto;
  width: 0px;
  position: fixed;
  top: 35vh;
  padding: 10px;
  right: 0;
  z-index: 2;
}
.social-sidebar p svg {
  left: 0px;
  position: relative;
  vertical-align: middle;
  font-size: 24px;
}
.social-sidebar p {
  margin-bottom: 0;
  color: #F3F3F3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  padding: 15px 18px;
  font-size: 17px;
  line-height: 27px;
  font-weight: 500;
  text-transform: uppercase;
}
.social-sidebar .social {
  margin-left: -44px;
  width: 200px;
  padding: 0;
  display: inline-table;
  height: 0px;
  background-color: rgba(128, 128, 128, 0.73);
  -webkit-transition: margin-left 0.2s linear, background-color 0.3s linear;
  transition: margin-left 0.2s linear, background-color 0.3s linear;
  cursor: pointer;
  background-color: #0056A4;
  margin-bottom: 24px;
}
.social-sidebar .social:hover {
  margin-left: -180px;
  width: 200px;
  background-color: #0566BE;
}

.conference {
  top: -260px;
  position: relative;
}
.conference__bg {
  background: url(../images/escar-europe/conference__bg.png) no-repeat center/cover;
  min-height: 404px;
}
.conference__bg--callpaper {
  background: url(../images/callpaper__bg.png) no-repeat center/cover;
}
.conference .custom-card {
  padding: 38px 40px;
  background: #0056A4;
  min-width: 360px;
}
.conference .card__content {
  max-width: 216px;
}
.conference::before {
  content: "";
  display: block;
  width: 100%;
  height: 160px;
  background: -webkit-gradient(linear, left bottom, left top, from(#fff), color-stop(20%, rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, #fff 0%, rgba(255, 255, 255, 0.8) 20%, rgba(255, 255, 255, 0) 100%);
  position: relative;
  bottom: -80px;
  z-index: -1;
}

.interested {
  margin-top: -100px;
  min-height: 891px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.65)), to(rgba(0, 0, 0, 0.65))), url(../images/interested-bg-img.png) no-repeat center/cover;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../images/interested-bg-img.png) no-repeat center/cover;
}
.interested-cards-wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

.img-container {
  position: relative;
  display: inline-block;
}
.img-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  height: 100%;
}

.card-img-wrapper {
  position: relative;
  display: inline-block;
  color: #fff;
}
.card-img-wrapper h4 {
  min-height: 104px;
}

.img-card-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 10px;
}

.sponsor__content {
  max-width: 724px;
}

.img-gradeint--white {
  position: relative;
}
.img-gradeint--white::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, right top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
}
.img-gradeint--white-right::before {
  background: -webkit-gradient(linear, right top, left top, from(#fff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to left, #fff 0%, rgba(255, 255, 255, 0) 100%);
}

.our-sponsor {
  padding: 80px 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/our-sponsors/our-sponsor-bg.png) no-repeat center/cover;
}

.event__content {
  max-width: 721px;
}
.event__content p {
  font-size: 15px;
}
.event .swiper-btns {
  max-width: 200px;
  position: relative;
  padding-block: 50px;
}
.event .swiper-btns .swiper-pagination {
  bottom: 50%;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  z-index: -1;
}
.event .swiper-btns .swiper-pagination-bullet {
  background: #161615;
}

.newsletter {
  background: linear-gradient(4deg, rgba(22, 22, 21, 0.45), rgba(22, 22, 21, 0.45)), url(../images/newsletter-bg.png) no-repeat center/cover;
  min-height: 404px;
}
.newsletter .form-control {
  border: 0;
  border-bottom: 1px solid #F3F3F3;
  color: black;
  background: transparent;
  border-radius: 0;
  padding-inline: 0;
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control::-webkit-input-placeholder {
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control::-moz-placeholder {
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control:-ms-input-placeholder {
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control::-ms-input-placeholder {
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control::placeholder {
  color: #F3F3F3;
  font-size: 15px;
  line-height: 26px;
}
.newsletter .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.newsletter .btn__form {
  position: absolute;
  top: 0;
  right: 0;
  min-width: auto;
  font-size: 15px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.swiper-button-prev,
.swiper-button-next {
  background: #0056A4;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  opacity: 1 !important;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer !important;
}
.swiper-button-prev:hover,
.swiper-button-next:hover {
  background: #0566BE;
}

.swiper-button-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@media screen and (min-width: 1550px) {
  .container {
    max-width: 1490px;
  }
}
.container-fluid {
  padding: 0 80px;
}
@media screen and (max-width: 1800px) {
  .container-fluid {
    padding: 0 10%;
  }
}
@media screen and (max-width: 576px) {
  .container-fluid {
    padding: 0 12px;
  }
}/*# sourceMappingURL=style.css.map */